# Rust artifacts
target/

# Node artifacts
prebuilds/

# Swift artifacts
.build/

# Go artifacts
_obj/

# Python artifacts
.venv/
dist/
*.egg-info
*.whl

# C artifacts
*.so.*
*.pc

# Zig artifacts
.zig-cache/
zig-cache/
zig-out/

# Example dirs
/examples/*/

# Grammar volatiles
*.wasm
*.obj
*.o

# Archives
*.tar.gz
*.tgz
*.zip

# Build artifacts
build/
node_modules/
*.log
*.o
*.so
*.dylib
*.a
*.obj
*.lib
*.dll
*.exp
*.out
*.dSYM/
.DS_Store

# Tree-sitter specific
src/*.c
src/*.h
src/*.cc
!src/parser.c
!src/scanner.c
!src/scanner.cc
!src/grammar.json

# Editor specific
.vscode/
.idea/
*.swp
*.swo
